<div class="main schedules-index">
  <div class="container">
    <% @schedules.each do |schedule| %>
      <div class="schedules-index-item">
      <%=link_to(schedule.content,"/schedules/#{schedule.id}" )%>
      </div>
    <% end %>
  </div>
</div>
