<div class="main schedules-index">
  <div class="container">
    <% @schedules.each do |schedule| %>
      <div class="schedules-index-item">
        <div>
        <%= schedule.date %>
        </div>
        <div class="schedule-user-name">
          <%= link_to(schedule.user.name, "/users/#{schedule.user.id}") %>
        </div>
            <%=link_to(schedule.content,"/schedules/#{schedule.id}" )%>
            <div>
            <p><%= schedule.money %>円</p>
            </div>
            
      </div>
    <% end %>
  </div>
</div>
